.hero {
  margin-top: 110px;
  display: flex;
  background: #f8f7f2;
  height: 84vh;
}
.left {
  flex: 6;
  position: relative;
}
.left .intro {
  position: absolute;
  top: 20%;
  left: 21%;
}
.left .intro p {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3625rem;
}
.left .intro p:first-child {
  font-weight: 600;
  font-size: 3.05rem;
}
.left .intro p:first-child span {
  color: #74d444;
}
.left .intro p:nth-child(2),
.left .intro p:nth-child(3) {
  font-size: 3.06rem;
}
.left .intro .circle {
  position: absolute;
  right: 25%;
  top: 32%;
  background: #74d444;
  opacity: 0.1;
  transform: rotate(59.82deg);
  width: 63.94px;
  height: 120.22px;
  -webkit-clip-path: ellipse(50% 50% at 52% 54%);
  clip-path: ellipse(50% 50% at 32% 54%);
}
.right {
  flex: 6;
  overflow: hidden;
}
.right .clip {
  width: 100%;
  height: 100%;
}
.right .clip .self {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: relative;
}
.right .clip .eclipes{
  position: absolute;
  z-index: 1;
  top: 17.5%;
  right: 10px;
  width: 45%;
  height: 83%;
}
.right .clip .eclipes img {
  width: 100%;
  height: 100%;
}
.projects {
  background: #efefef;
  padding: 60px 60px;
}
.projects h3 {
  color: #343a40;
  font-weight: 600;
  font-size: 3rem;
}
.line {
  width: 98px;
  height: 0px;
  border: 1px solid #74d444;
  color: #74d444;
  margin: 10px 0;
}
.projects .projects-section {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}
.projects .projects-section .left,
.projects .projects-section .right {
  flex: 6;
  padding: 20px;
}
.projects .projects-section .container {
  background: #f8f7f2;
  border-radius: 16px;
}
.projects .projects-section .project-image {
  width: 100%;
  height: inherit;
  margin-top: -20px;
  object-fit: contain;
  object-position: center;
}
.projects .projects-section .details {
  padding: 10px 20px 20px 20px;
  font-family: "Cormorant Garamond";
}
.projects .projects-section .details .name {
  display: flex;
  align-items: center;
}
.projects .projects-section .details .name img {
  width: 39.85px;
  height: 40px;
  margin-left: 20px;
  margin-bottom: 8px;
}
.projects .projects-section .details .name h5 a {
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  text-decoration: none;
  color: #74d444;
  letter-spacing: 3.34789px;
  text-transform: capitalize;
  display: block;
}
.projects .projects-section .details .name h5 a:hover {
  font-size: 2.6rem;
  transition: all 0.3s;
  color: #3e7920;
}
.projects .projects-section .details .info {
  font-weight: 400;
  font-size: 1.5625rem;
  color: #343a40;
  margin: 15px 0;
}
.projects .projects-section .details p {
  font-weight: 500;
  font-size: 1.125rem;
  color: #74d444;
  letter-spacing: 0.836972px;
}
.testimonials {
  background: #e3ecde;
  padding: 60px;
  font-family: "Josefin Sans";
}
.testimonials h3 {
  color: #343a40;
  font-weight: 600;
  font-size: 3rem;
}
.testimonials .comments {
  display: flex;
  padding: 40px;
}
.testimonials .comments .comment {
  flex: 6;
}
.testimonials .comments #gaurav {
  display: none;
}
.testimonials .comments .comment .post,
.testimonials .single_comment .post {
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 29px;
  width: 400px;
  margin-left: 40px;
}
.testimonials .comments .comment .profile,
.testimonials .single_comment .profile {
  display: flex;
  align-items: center;
  justify-content: right;
}
.testimonials .comments .comment .profile div p,
.testimonials .single_comment .profile div p {
  text-align: right;
  margin-right: 20px;
  font-weight: 300;
  font-size: 1.25rem;
}
.testimonials .comments .comment .profile div .name,
.testimonials .single_comment .profile div .name {
  font-style: normal;
  font-weight: 500;
}
.testimonials .single_comment {
  padding: 40px;
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .hero .left .intro {
    top: 45%;
    left: 0;
    right: 0;
  }
  .hero .right{
    height: 50vh;
  }
  .left .intro p {
    font-size: 1.025rem;
    text-align: center;
  }
  .left .intro p:first-child {
    font-size: 2.05rem;
  }
  .left .intro p:nth-child(2),
  .left .intro p:nth-child(3) {
    font-size: 2.06rem;
  }
  .hero .right .clip {
    width: 100%;
    height: 270px;
    margin-top: 30%;
  }
  .right .clip img {
    position: unset;
    width: 100%;
    height: 100%;
  }
  .right .clip .eclipes img {
    display: none;
  }
  .projects {
    padding: 30px;
    width: 100%;
  }
  .projects h3 {
    font-size: 1.8rem;
  }
  .projects-section {
    flex-direction: column;
  }
  .projects .projects-section .left, .projects .projects-section .right{
    padding: 10px 0;
  }
  .projects .projects-section .project-image {
    width: 100%;
    margin-top: 0px;
  }
  .projects .projects-section .container {
    min-width: 100%;
    max-width: 100%;
  }
  .projects .projects-section .details .name h5 a {
    font-size: 1.8rem;
  }
  .projects .projects-section .details .info {
    font-size: 1.0625rem;
  }
  .projects .projects-section .details p {
    font-size: 0.75rem;
  }
  .testimonials {
    padding: 10px 15px;
  }
  .testimonials .comments #gaurav {
    display: block;
  }
  .testimonials .single_comment {
    display: none;
  }
  .testimonials .comments {
    overflow: scroll;
    padding: 5px 0;
    margin-top: 40px;
  }
  .testimonials .comments .comment .profile img {
    width: 80px;
  }
  .testimonials .comments .comment {
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 1px dotted #74d444;
    border-radius: 10px;
    padding: 10px;
  }
  .testimonials .comments .comment .post,
  .testimonials .single_comment .post {
    margin-left: 5px;
    font-style: normal;
    font-size: 0.9375rem;
    line-height: 20px;
    width: 250px;
  }
  .testimonials h3 {
    font-size: 1.8rem;
  }
  .testimonials .comments .comment .profile div p,
  .testimonials .single_comment .profile div p {
    text-align: center;
    margin-right: 10px;
    font-size: 13px;
  }
}

@media screen and (max-width: 350px) {
  .left .intro {
    margin-top: 20px;
  }
  .left .intro p {
    font-size: 14px;
  }
  .left .intro p:first-child {
    font-size: 25.8px;
  }
  .left .intro p:nth-child(2),
  .left .intro p:nth-child(3) {
    font-size: 24.96px;
  }
  .hero .right .clip {
    width: 100%;
    height: 250px;
    margin-top: 70px;
  }
}

@media screen and (max-width: 750px) {
  .hero .right .clip {
    height: 260px;
    margin-top: 5%;
  }
  .hero .left .intro {
    top: 35%;
  }
}

@media screen and (max-width: 315px) {
  
}
